<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">

	<!-- 加载数据库配置文件 -->
	<context:property-placeholder location="classpath:*.properties" />

	<!-- 数据库连接池 -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
		destroy-method="close">
		<property name="url" value="${huiyi.jdbc.url}" />
		<property name="username" value="${huiyi.jdbc.username}" />
		<property name="password" value="${huiyi.jdbc.password}" />
		<property name="driverClassName" value="${huiyi.jdbc.driverClassName}" />
		<!--设 0 为没有限制 -->
		 <property name="maxActive" value="${huiyi.jdbc.maxPoolSize}" />
		<property name="minIdle" value="${huiyi.jdbc.minPoolSize}" />
		<property name="initialSize" value="${huiyi.jdbc.initialPoolSize}"></property> 
	</bean>

	<!-- 整合mybatis：SqlsessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 数据源 -->
		<property name="dataSource" ref="dataSource" />
		<!-- mybatis配置文件 -->
		<property name="configLocation" value="classpath:mybatis/mybatis-config.xml" />
		<property name="plugins">
	        <array>
	            <bean class="com.youwen.ucenter.plugins.PageHelper" >
	            </bean>
	        </array>
	    </property>
	</bean>

	<!-- 注入DAO对象：配置mapper MapperFactoryBean：用于生成mapper代理对象 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 配置扫描包的路径 如果要扫描多个包，中间使用半角逗号分隔 -->
		<property name="basePackage" value="com.youwen.ucenter.dao" />
		<!-- 使用sqlSessionFactoryBeanName -->
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>

</beans>